body {
 	background:url(../images/bg.jpg);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:100% 100%;
    background-size: cover;
}

main {
 opacity: 0.8;
}




//博客内容透明化
//文章内容的透明度设置
//.content-wrap {
   // opacity: 0.8;
//}
//.main-inner {  // 文章透明度
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;
   // opacity: 0.8;
//}


//菜单栏的透明度设置
//.header-inner {
//   opacity: 0.8;
   // background: rgba(255,255,255,0.8);
//}
//侧边框的透明度设置
//.sidebar {
//    opacity: 0.8;
//}
//侧边框的透明度设置
//.sidebar-inner {
//  //background: rgba(255,255,255,0.7) none repeat scroll !important;
//}


//搜索框（local-search）的透明度设置
//.popup {
//   //opacity: 0.8;
//   z-index 999
//}

//.post-block {
    // background: rgba(255,255,255,0.7) none repeat scroll !important;
// }


// 主页文章添加阴影效果
//.post {
//   margin-top: 60px;
//   padding: 20px;
//   margin-bottom: 60px;
//   // -webkit-box-shadow: 0 0 5px rgba(120, 128, 114, 1.5);
//   // -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//}